@model QuanzhenCinema.Models.TICKET

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>删除</title>
</head>
<body>
    <h3>你确定要删除吗?</h3>
    <div>
        <h4>电影票</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MYORDER.ORDER_ID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MYORDER.ORDER_ID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SCHEDULE.SCHEDULE_ID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SCHEDULE.SCHEDULE_ID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SEAT.COLUMN_ID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SEAT.COLUMN_ID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PRICE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PRICE)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="删除" class="btn btn-default" /> |
                @Html.ActionLink("回到列表", "Index")
            </div>
        }
    </div>
</body>
</html>
