@model IEnumerable<QuanzhenCinema.Models.MEMBER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/managerLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REGISTER_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMAINING_DAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREDIT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGISTER_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMAINING_DAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREDIT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PHONE_NUMBER }) |
            @Html.ActionLink("Details", "Details", new { id=item.PHONE_NUMBER }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PHONE_NUMBER })
        </td>
    </tr>
}

</table>
