@model IEnumerable<QuanzhenCinema.Models.MEMBER>

@{
    ViewBag.Title = "会员管理";
    ViewBag.pageTitle = "会员管理";
    Layout = "~/Views/Shared/managerLayout.cshtml";
}
<p>
    @Html.ActionLink("创建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            姓名
        </th>
        <th>
            注册日期
        </th>
        <th>
            到期时间
        </th>
        <th>
            积分
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGISTER_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMAINING_DAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREDIT)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.PHONE_NUMBER }) |
            @Html.ActionLink("详情", "Details", new { id=item.PHONE_NUMBER }) |
            @Html.ActionLink("删除", "Delete", new { id=item.PHONE_NUMBER })
        </td>
    </tr>
}

</table>
