@{
    Layout = "~/Views/Shared/clientLayout.cshtml";
    ViewBag.pageTitle = ViewBag.moviedetail.NAME;
}
@section Head{
    <script>
    function getDay(time) {
        var today = new Date(time);
        var month = today.getMonth()+1;
        var day = today.getDate();
        var weekday = today.getDay()+1;
        var chinese;
        switch (weekday)
        {
            case 1: chinese = "一"; break;
            case 2: chinese = "二"; break;
            case 3: chinese = "三"; break;
            case 4: chinese = "四"; break;
            case 5: chinese = "五"; break;
            case 6: chinese = "六"; break;
            case 7: chinese = "七"; break;
        }
        var result = month + '.' +day + '(周' + chinese + ')';
        return result;
    }

    document.getElementById("date1").innerHTML = getDay(new Date().getTime());
    document.getElementById("date2").innerHTML = getDay(new Date().getTime() + 24*3600*1000);
    document.getElementById("date3").innerHTML = getDay(new Date().getTime() + 48*3600*1000);


</script>
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/description.css")" rel="stylesheet">
</head>
<body>
    <!--这是电影详情-->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="@ViewBag.moviedetail.IMAGE_PATH" height="310" width="210" />
                    <h6>正在热映</h6>
                </div>
                <div class="col-md-9">
                    <h2>@ViewBag.moviedetail.NAME</h2>
                    <h6></h6>
                    <p>
                        类型：
                        @foreach(var item in ViewBag.categories)
                        {
                            <span>@item.CATEGORY </span>
                        }
                    <p class="text-indent">
                        @ViewBag.moviedetail.DESCRIPTION
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--这是排片购票-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>排片购票</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <h5>观影日期</h5>
            </div>
            <div class="col-md-11">
                <ul class="nav nav-pills">
                    <li role="presentation" data-toggle="tab" href="#day1" class="active"><a href="#" id="date1"></a></li>
                    <li role="presentation" data-toggle="tab" href="#day2"><a href="#" id="date2"></a></li>
                    <li role="presentation" data-toggle="tab" href="#day3"><a href="#" id="date3"></a></li>
                </ul>
                <div class="tab-content">
                    <div id="day1" class="tab-pane fade in active">
                        <br>
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>场次</th>
                                <th>语言/版本</th>
                                <th>放映厅</th>
                                <th>购票</th>
                            </tr>
                            @foreach (var item in ViewBag.schedule1)
                            {
                                <tr>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.NAME)*@
                                        @ViewBag.schedule1.START_TIME
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.PRICE)*@
                                        @ViewBag.schedule1.LANGUAGE / @ViewBag.schedule1.DISPLAY_TYPE
                                    </td>
                                    <td>
                                        @ViewBag.schedule1.HALL_ID
                                    </td>
                                    <td>
                                        <a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                                    </td>
                                </tr>
                            }
                        </table>
                        @if (ViewBag.schedule1.Count == 0)
                        {
                            <h1>今天没有排片哦</h1>
                        }
                    </div>
                    <div id="day2" class="tab-pane fade">
                        <br>
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>场次</th>
                                <th>语言/版本</th>
                                <th>放映厅</th>
                                <th>购票</th>
                            </tr>
                            @foreach (var item in ViewBag.schedule2)
                            {
                                <tr>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.NAME)*@
                                        @ViewBag.schedule2.START_TIME
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.PRICE)*@
                                        @ViewBag.schedule2.LANGUAGE / @ViewBag.schedule2.DISPLAY_TYPE
                                    </td>
                                    <td>
                                        @ViewBag.schedule2.HALL_ID
                                    </td>
                                    <td>
                                        <a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                                    </td>
                                </tr>
                            }
                        </table>
                        @if (ViewBag.schedule2.Count == 0)
                        {
                            <h1>今天没有排片哦</h1>
                        }
                    </div>
                    <div id="day3" class="tab-pane fade">
                        <br>
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>场次</th>
                                <th>语言/版本</th>
                                <th>放映厅</th>
                                <th>购票</th>
                            </tr>
                            @foreach (var item in ViewBag.schedule3)
                            {
                                <tr>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.NAME)*@
                                        @ViewBag.schedule3.START_TIME
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.PRICE)*@
                                        @ViewBag.schedule3.LANGUAGE / @ViewBag.schedule3.DISPLAY_TYPE
                                    </td>
                                    <td>
                                        @ViewBag.schedule3.HALL_ID
                                    </td>
                                    <td>
                                        <a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                                    </td>
                                </tr>
                            }
                        </table>
                        @if (ViewBag.schedule3.Count == 0)
                        {
                            <h1>今天没有排片哦</h1>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>