@{
    Layout = "~/Views/Shared/clientLayout.cshtml";
    if (ViewBag.moviedetail.Count == 0) { ViewBag.Title = "找不到该电影"; }
    else { ViewBag.Title = ViewBag.moviedetail[0].NAME; }
}
@section Head{
    <link href=@Url.Content("~/Content/description.css") rel="stylesheet">
}

@functions{
    public string date2day(DateTime date)
    {
        switch(date.DayOfWeek)
        {
            case DayOfWeek.Monday: return "一";
            case DayOfWeek.Tuesday:return "二";
            case DayOfWeek.Wednesday:return "三";
            case DayOfWeek.Thursday:return "四";
            case DayOfWeek.Friday: return "五";
            case DayOfWeek.Saturday:return "六";
            case DayOfWeek.Sunday:return "日";
            default:return "";
        }
    }
    public string doubanLink()
    {
        if (ViewBag.moviedetail.Count == 0) return "";
        return "https://movie.douban.com/subject/" + Convert.ToString(ViewBag.moviedetail[0].MOVIE_ID) + "/cinema/shanghai/";
    }
    public string isOnline()
    {
        if (ViewBag.moviedetail.Count == 0) return "";
        if (DateTime.Compare(DateTime.Now, ViewBag.moviedetail[0].EXPIRE_DATE) > 0)
            return "已经下映";
        else return "正在热映";
    }
}
@{
    var date1 = DateTime.Now;
    var date2 = date1.AddDays(1);
    var date3 = date1.AddDays(2);
    var date11 = "（周"+ date2day(date1)+"）";
    var date22 = "（周" + date2day(date2) + "）";
    var date33 = "（周"+ date2day(date3) + "）";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/description.css")" rel="stylesheet">
</head>
<body>
    <!--这是电影详情-->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="@ViewBag.moviedetail[0].IMAGE_PATH" height="310" width="210" />
                    <h6>@isOnline()</h6>
                </div>
                <div class="col-md-9">
                    <h2>@ViewBag.moviedetail[0].NAME</h2>
                    <h6></h6>
                    <p>
                        类型：
                        @foreach(var item in ViewBag.categories)
                        {
                            <span>@item </span>
                        }
                        </br>
                        时长：
                        @foreach(var item in ViewBag.length)
                        {
                            <span>@item</span><span>分钟</span>
                        }
                        </br>
                        剧情简介：
                        </p>
                    <p class="text-indent">
                        @ViewBag.moviedetail[0].DESCRIPTION
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--这是排片购票-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>排片购票</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <h5>观影日期</h5>
            </div>
            <div class="col-md-11">
                <ul class="nav nav-pills">
                    <li role="presentation" data-toggle="tab" href="#day1" class="active"><a href="#">@date1.Month.@date1.Day@date11</a></li>
                    <li role="presentation" data-toggle="tab" href="#day2"><a href="#" id="date2">@date2.Month.@date2.Day@date22</a></li>
                    <li role="presentation" data-toggle="tab" href="#day3"><a href="#" id="date3">@date3.Month.@date3.Day@date33</a></li>
                </ul>
                <div class="tab-content">
                    <div id="day1" class="tab-pane fade in active">
                        <br>
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>场次</th>
                                <th>语言/版本</th>
                                <th>放映厅</th>
                                <th>购票</th>
                            </tr>
                            @foreach (var item in ViewBag.schedule1)
                            {
                                <tr>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.NAME)*@
                                        @item.START_TIME.ToString("H:mm")
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.PRICE)*@
                                        @item.LANGUAGE / @item.DISPLAY_TYPE
                                    </td>
                                    <td>
                                        @item.HALL_ID
                                    </td>
                                    <td>
                                        <a href=@doubanLink() class="btn btn-default btn-xs active" role="button">购票</a>
                                    </td>
                                </tr>
                            }
                        </table>
                        @if (ViewBag.schedule1.Count == 0)
                        {
                            <h1>今天没有排片哦</h1>
                        }
                    </div>
                    <div id="day2" class="tab-pane fade">
                        <br>
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>场次</th>
                                <th>语言/版本</th>
                                <th>放映厅</th>
                                <th>购票</th>
                            </tr>
                            @foreach (var item in ViewBag.schedule2)
                            {
                                <tr>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.NAME)*@
                                        @item.START_TIME.ToString("H:mm")
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.PRICE)*@
                                        @item.LANGUAGE / @item.DISPLAY_TYPE
                                    </td>
                                    <td>
                                        @item.HALL_ID
                                    </td>
                                    <td>
                                        <a href=@doubanLink() class="btn btn-default btn-xs active" role="button">购票</a>
                                    </td>
                                </tr>
                            }
                        </table>
                        @if (ViewBag.schedule2.Count == 0)
                        {
                            <h1>今天没有排片哦</h1>
                        }
                    </div>
                    <div id="day3" class="tab-pane fade">
                        <br>
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>场次</th>
                                <th>语言/版本</th>
                                <th>放映厅</th>
                                <th>购票</th>
                            </tr>
                            @foreach (var item in ViewBag.schedule3)
                            {
                                <tr>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.NAME)*@
                                        @item.START_TIME.ToString("H:mm")
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.PRICE)*@
                                        @item.LANGUAGE / @item.DISPLAY_TYPE
                                    </td>
                                    <td>
                                        @item.HALL_ID
                                    </td>
                                    <td>
                                        <a href=@doubanLink() class="btn btn-default btn-xs active" role="button">购票</a>
                                    </td>
                                </tr>
                            }
                        </table>
                        @if (ViewBag.schedule3.Count == 0)
                        {
                            <h1>今天没有排片哦</h1>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>