@model IEnumerable<QuanzhenCinema.Models.CATEGORY>

@{
    ViewBag.Title = "Index";
}
<script>
    alert(@(ViewBag.Title));
</script>
<h2>Index</h2>

<p>
    @Html.ActionLink("创建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            题材
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY_NAME)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.CATEGORY_ID }) |
            @Html.ActionLink("详情", "Details", new { id=item.CATEGORY_ID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.CATEGORY_ID })
        </td>
    </tr>
}

</table>
