@model QuanzhenCinema.Models.DISCOUNT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DISCOUNT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.START_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.START_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REMAINING_DAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMAINING_DAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DISCOUNT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
