@model IEnumerable<QuanzhenCinema.Models.IMAGE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/managerLayout.cshtml";
}

<h2>索引</h2>

<p>
    @Html.ActionLink("创建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            电影名
        </th>
        <th>
            图片链接
        </th>
        <th>
            宽度
        </th>
        <th>
            高度
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MOVIE.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMAGE_PATH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WIDTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HEIGHT)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.IMAGE_ID }) |
            @Html.ActionLink("详情", "Details", new { id=item.IMAGE_ID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.IMAGE_ID })
        </td>
    </tr>
}

</table>
