@model IEnumerable<QuanzhenCinema.Models.STAFF>

@{
    ViewBag.Title = "员工管理";
    Layout = "~/Views/Shared/managerLayout.cshtml";
    ViewBag.pageTitle = "员工管理";
}

<p>
    @Html.ActionLink("创建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            员工号
        </th>
        <th>
            密码
        </th>
        <th>
            名称
        </th>
        <th>
            性别
        </th>
        <th>
            职位
        </th>
        <th>
            角色
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GENDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POSITION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROLE)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
            @Html.ActionLink("详情", "Details", new { id=item.ID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
