@model IEnumerable<QuanzhenCinema.Models.SEAT>

@{
    ViewBag.Title = "Index";
}

<h2>索引</h2>

<p>
    @Html.ActionLink("创建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            放映厅号
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HALL.HALL_ID)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("详情", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("删除", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
