@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@for (int i = 0; i < ViewBag.display[2].Count; i++)
{
    <li>Display_Id: @ViewBag.display[2][i].DISPLAY_ID</li>
    <li>Length: @ViewBag.display[2][i].LENGTH</li>
    <li>Movie_Name: @ViewBag.movie_name[2][i]</li>
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="@Url.Content("~/Content/fullcalendar.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/fullcalendar.print.css")" rel="stylesheet" media="print">
    <link href="@Url.Content("~/Content/scheduler.min.css")" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/scheduler.min.js")"></script>
    <script>
        var getEvent,asd;
        var init = {
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            defaultView: 'agendaDay',
            defaultDate: '2016-05-07',
            minTime: '10:00:00',
            maxTime: '23:00:00',
            allDaySlot: false,
            editable: true,
            slotDuration: '00:15:00',
            selectable: true,
            eventLimit: true, // allow "more" link when too many events
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'agendaDay,agendaTwoDay,agendaWeek,month'
            },
            views: {
                agendaTwoDay: {
                    type: 'agenda',
                    duration: { days: 2 },

                    // views that are more than a day will NOT do this behavior by default
                    // so, we need to explicitly enable it
                    groupByResource: true

                    //// uncomment this line to group by day FIRST with resources underneath
                    //groupByDateAndResource: true
                }
            },

            //// uncomment this line to hide the all-day slot
            //allDaySlot: false,

            resources: [
                { id: 'a', title: 'Hall 1' },
                { id: 'b', title: 'Hall 2', eventColor: 'green' },
                { id: 'c', title: 'Hall 3', eventColor: 'orange' },
                { id: 'd', title: 'Hall 4', eventColor: 'red' },
                { id: 'e', title: 'Hall 5', eventColor: 'blue'}
            ],
            events: [
                { id: '2', resourceId: 'a', start: '2016-05-07T09:00:00', end: '2016-05-07T14:00:00', title: 'event 2' },
                { id: '3', resourceId: 'b', start: '2016-05-07T12:00:00', end: '2016-05-08T06:00:00', title: 'event 3' },
                { id: '5', resourceId: 'd', start: '2016-05-07T10:00:00', end: '2016-05-07T15:00:00', title: 'event 5' }
            ],

            select: function(start, end, jsEvent, view, resource) {
                console.log(
                        'select',
                        start.format(),
                        end.format(),
                        resource ? resource.id : '(no resource)'
                );
            },
            eventClick: function(calEvent, jsEvent, view) {
                getEvent = calEvent;
                asd = 's:' + calEvent.start;
                console.log(calEvent);
                console.log('Event start: ' + calEvent.start);
                console.log('Event end: ' + calEvent.end);
                console.log('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                console.log('View: ' + view.name);

                // change the border color just for fun
                $(this).css('border-color', 'red');

            },
            dayClick: function(date, jsEvent, view, resource) {
                console.log(
                        'dayClick',
                        date.format(),
                        resource ? resource.id : '(no resource)'
                );
            }
        };
        //根据schedule初始化event
        $(document).ready(function() {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar(init);
            $('#calendar').fullCalendar({
                eventClick: function(event, element) {

                    event.title = "CLICKED!";

                    $('#calendar').fullCalendar('updateEvent', event);

                }
            });
        });
    </script>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 50px auto;
        }
    </style>
</head>
<body>
    <div id="calendar">

    </div>




</body>
</html>