@model QuanzhenCinema.Models.MOVIE

@{
    ViewBag.Title = Model.NAME;
}

<h2>Details</h2>

<div>
    <h4>MOVIE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXPIRE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXPIRE_DATE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MOVIE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/description.css")" rel="stylesheet">
</head>
<body>
    <!--这是电影详情-->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="@Model.IMAGE" height="310" width="210" />
                    <h6>正在热映</h6>
                </div>
                <div class="col-md-9">
                    <h2>@Model.NAME</h2>
                    <h6></h6>
                    <p>
                        简介：
                    </p>
                    <p class="text-indent">
                        @Model.DESCRIPTION
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--这是排片购票-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>排片购票</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <h5>观影日期</h5>
            </div>
            <div class="col-md-11">
                <ul class="nav nav-pills">
                    <li role="presentation" data-toggle="tab" href="#day1" class="active"><a href="#">7.21(周四)</a></li>
                    <li role="presentation" data-toggle="tab" href="#day2"><a href="#">7.22(周五)</a></li>
                    <li role="presentation" data-toggle="tab" href="#day3"><a href="#">7.23(周六)</a></li>
                </ul>
                <div class="tab-content">
                    <div id="day1" class="tab-pane fade in active">
                        <br>
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>场次</th>
                                <th>语言/版本</th>
                                <th>放映厅</th>
                                <th>购票</th>
                            </tr>
                            <tr>
                                <td>10:00</td>
                                <td>中文/3D</td>
                                <td>一号厅</td>
                                <td>
                                    <a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                                </td>
                            </tr>
                            <tr>
                                <td>10:15</td>
                                <td>中文/3D</td>
                                <td>二号厅</td>
                                <td><a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                            </tr>
                            <tr>
                                <td>12:00</td>
                                <td>中文/3D</td>
                                <td>三号厅</td>
                                <td><a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                            </tr>
                            <tr>
                                <td>20:00</td>
                                <td>中文/3D</td>
                                <td>三号厅</td>
                                <td><a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                            </tr>
                        </table>
                    </div>
                    <div id="day2" class="tab-pane fade">
                        <br>
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>场次</th>
                                <th>语言/版本</th>
                                <th>放映厅</th>
                                <th>购票</th>
                            </tr>
                            <tr>
                                <td>10:15</td>
                                <td>中文/3D</td>
                                <td>二号厅</td>
                                <td>
                                    <a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                                </td>
                            </tr>
                            <tr>
                                <td>10:15</td>
                                <td>中文/3D</td>
                                <td>三号厅</td>
                                <td><a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                            </tr>
                            <tr>
                                <td>12:00</td>
                                <td>中文/3D</td>
                                <td>三号厅</td>
                                <td><a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                            </tr>
                            <tr>
                                <td>20:00</td>
                                <td>中文/3D</td>
                                <td>三号厅</td>
                                <td><a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                            </tr>
                        </table>
                    </div>
                    <div id="day3" class="tab-pane fade">
                        <br>
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>场次</th>
                                <th>语言/版本</th>
                                <th>放映厅</th>
                                <th>购票</th>
                            </tr>
                            <tr>
                                <td>10:00</td>
                                <td>中文/3D</td>
                                <td>一号厅</td>
                                <td>
                                    <a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                                </td>
                            </tr>
                            <tr>
                                <td>10:15</td>
                                <td>中文/3D</td>
                                <td>二号厅</td>
                                <td><a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                            </tr>
                            <tr>
                                <td>11:00</td>
                                <td>中文/3D</td>
                                <td>四号厅</td>
                                <td><a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                            </tr>
                            <tr>
                                <td>14:00</td>
                                <td>中文/3D</td>
                                <td>一号厅</td>
                                <td><a href="http://www.damai.cn" class="btn btn-default btn-xs active" role="button">购票</a>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
