@model IEnumerable<QuanzhenCinema.Models.MOVIE>

@{
    ViewBag.Title = "电影管理";
    ViewBag.pageTitle = "电影管理";
    Layout = "~/Views/Shared/managerLayout.cshtml";
}

<p>
    @Html.ActionLink("创建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            电影号
        </th>
        <th>
            电影名
        </th>
        <th>
            电影描述
        </th>
        <th>
            下映日期
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MOVIE_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXPIRE_DATE)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.MOVIE_ID }) |
            @Html.ActionLink("详情", "Details", new { id=item.MOVIE_ID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.MOVIE_ID })
        </td>
    </tr>
}

</table>
