@model QuanzhenCinema.Models.HALL

@{
    ViewBag.Title = "Details";
}

<h2>详情</h2>

<div>
    <h4>影厅</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CAPACITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAPACITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_3D)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_3D)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_DOLAB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_DOLAB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_IMAX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_IMAX)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.HALL_ID }) |
    @Html.ActionLink("回到列表", "Index")
</p>
