@model IEnumerable<QuanzhenCinema.Models.DISPLAY>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DISPLAY_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOVIE.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_3D)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_IMAX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LANGUAGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOWEST_PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LENGTH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DISPLAY_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOVIE.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_3D)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IS_IMAX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LANGUAGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOWEST_PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LENGTH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DISPLAY_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DISPLAY_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DISPLAY_ID })
        </td>
    </tr>
}

</table>
